<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Online Bookstore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.user.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.user.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booksAdd</display-name>
    <servlet-name>booksAdd</servlet-name>
    <servlet-class>com.admin.servlet.booksAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booksAdd</servlet-name>
    <url-pattern>/booksAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editBookServlet</display-name>
    <servlet-name>editBookServlet</servlet-name>
    <servlet-class>com.admin.servlet.editBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBookServlet</servlet-name>
    <url-pattern>/editBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBooksServlet</display-name>
    <servlet-name>deleteBooksServlet</servlet-name>
    <servlet-class>com.admin.servlet.deleteBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBooksServlet</servlet-name>
    <url-pattern>/deleteBooksServlet</url-pattern>
  </servlet-mapping>
</web-app>